{% extends 'base.html.twig' %}

{% block title %}ReloadPassword{% endblock %}

{% block body %}
<div class="container ml-5 mr-5">
<div class="row ">

<div class="col-12">
    <h1>ReloadPassword</h1>
        {{message}}
   
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('home') }}" class="btn btn-outline-primary">back to home</a>
    
   
     </div>
    </div>
    </div>
{% endblock %}