{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
   
    <div class="row ml-5 mt-2">
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
</div>
<div class="row ml-5">
    <a href="{{ path('article_index') }}" class="btn btn-outline-primary ml-5 mb-5">back to list</a>

   
    </div>
{% endblock %}
