{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    
   <div class="container ml-5 mr-5">
<div class="row ">
<div class="col-12">
        <h1>Create new Article</h1>
        {{ include('article/_form.html.twig') }}
    </div>
    <a href="{{ path('article_index') }}" class="btn btn-outline-primary mb-4"><=back to list</a>
     </div>
    </div>
    </div>
{% endblock %}
